.nav {
    background-color: #ebebeb;
    padding:20px 50px;
    border-top:1px solid rgba(179, 179, 179, 0.4);
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {

}